@page "/Cliente/create"
@using CurrieTechnologies.Razor.SweetAlert2;
@using SEYA.APP.Shared.DTO.Cliente;
@using SEYA.APP.Shared.Models;
@inject HttpClient http
@inject IJSRuntime runtime
@inject SweetAlertService swl


<h3>Registrar Cliente</h3>
<ClienteForm Id="0" Save="@Save" Cliente="@Cliente">

</ClienteForm>
@code {


    ClienteCreateDTO Cliente = new ClienteCreateDTO ();

    async Task Save()
    {
        var result = await http.PostAsJsonAsync($"{SEYA.APP.Shared.API.url}/Clientes", Cliente);
        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            await new Utils.Functions(runtime, swl).ShowSaved();

        }
        else await new Utils.Functions(runtime, swl).ShowError("No fue posible realizar la operacion", "Error");

    }


}
