@page "/Cliente/edit/{Id:int}"
@using CurrieTechnologies.Razor.SweetAlert2;
@using SEYA.APP.Shared.DTO.Cliente;
@inject HttpClient http
@inject IJSRuntime runtime;
@inject SweetAlertService swl;

<h3>Editar Cliente</h3>
<ClienteForm Id="Id" Save="@Save" Cliente="@Cliente">

</ClienteForm>

@code {
    [Parameter]
    public int Id { get; set; }

    ClienteCreateDTO Cliente = new ClienteCreateDTO();

    async Task Save()
    {
        var result = await http.PutAsJsonAsync($"{SEYA.APP.Shared.API.url}/Clientes/{Id}", Cliente);
        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
          await  new Utils.Functions(runtime, swl).ShowSaved();    

        }
        else await new Utils.Functions(runtime, swl).ShowError("No fue posible realizar la operacion","Error");



    }

    protected async override Task OnParametersSetAsync()
    {
        // Llama al método base para realizar las operaciones por defecto
        await base.OnParametersSetAsync();

        Cliente = await http.GetFromJsonAsync<ClienteCreateDTO>($"{SEYA.APP.Shared.API.url}/Clientes/FilterById/{Id}");


    }
}
