<div style="position: fixed; bottom: 20px; right: 20px;">
    <a class="btn btn-floating btn-lg btn-primary" style="border-radius: 50%;" href="@Goto">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>

@code {
    [Parameter]
    public string Goto { get; set; }
}
